# Ignore virtual environment
venv/

# Bytecode and compiled files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variables and config
.env

# macOS system files
.DS_Store

# VSCode settings (if you use it)
.vscode/

# Log files
*.log

# Alpaca API keys (if you store them)
*.ini
*.cfg
*.secret
